In [71]:
import pandas as pd  

# Load dataset
train_df = pd.read_csv("Titanic-Dataset.csv")
test_df = pd.read_csv("Titanic-Dataset.csv")

# Display the first few rows
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
train_df.info()
train_df.describe()#describe() by default only shows numerical columns.
train_df.isnull().sum()
train_df.describe(include="O")  # "O" means object (categorical) columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [73]:
for col in train_df.select_dtypes(include="object").columns:
    print(f"{col}: {train_df[col].nunique()} unique values")

Name: 891 unique values
Sex: 2 unique values
Ticket: 681 unique values
Cabin: 147 unique values
Embarked: 3 unique values

üîπ Step 5: Handling Missing Values
1Ô∏è‚É£ Check Missing Data Percentage
Run this to see how much data is missing:

In [74]:
(train_df.isnull().sum() / len(train_df)) * 100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

üîπ Step 6: Clean the Missing Values

1Ô∏è‚É£ Handling Age (Numerical Feature)

Since Age has some missing values but is important for survival, we should fill it.

Options:

Fill with the median age (better for skewed data).

Fill using the mean age (if data is normally distributed).

Fill using age groups (bins) (for better feature engineering).

In [75]:
train_df["Age"].fillna(train_df["Age"].median(),inplace=True)
test_df["Age"].fillna(test_df["Age"].median(),inplace=True)

/tmp/ipykernel_10398/3830263339.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Age"].fillna(train_df["Age"].median(),inplace=True)
/tmp/ipykernel_10398/3830263339.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df["Age"].fillna(test_df["Age"].median(),inplace=True)

In [76]:
train_df.drop(columns=["Cabin"], inplace=True)
test_df.drop(columns=["Cabin"], inplace=True)

3Ô∏è‚É£ Handling Embarked (Categorical Feature)
Check how many missing values it has:

In [77]:
train_df["Embarked"].isnull().sum()

2

In [78]:
train_df["Embarked"].fillna(train_df["Embarked"].mode()[0],inplace=True)
test_df["Embarked"].fillna(test_df["Embarked"].mode()[0],inplace=True)

/tmp/ipykernel_10398/2843241943.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Embarked"].fillna(train_df["Embarked"].mode()[0],inplace=True)
/tmp/ipykernel_10398/2843241943.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df["Embarked"].fillna(test_df["Embarked"].mode()[0],inplace=True)

In [79]:
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Why is Data Cleaning Important?
‚úÖ Garbage In = Garbage Out ‚Üí Poor data leads to poor models.
‚úÖ Missing values & outliers can mislead ML algorithms.
‚úÖ Feature selection & transformation improves model accuracy.
‚úÖ Real-world datasets are always messy ‚Üí Learning to clean them is a must!

So, spending time on data cleaning will directly improve your model's performance!

üîπ Step 7: Feature Engineering
Now that we‚Äôve cleaned the data, let‚Äôs create new features to improve predictions.

1Ô∏è‚É£ Drop Irrelevant Columns
Some columns don‚Äôt contribute much to survival prediction:

In [80]:
train_df.drop(columns=["PassengerId", "Name", "Ticket"], inplace=True)
test_df.drop(columns=["PassengerId", "Name", "Ticket"], inplace=True)

In [81]:
print(train_df.columns)

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

2Ô∏è‚É£ Convert Categorical Features (One-Hot Encoding)
ML models don‚Äôt work well with text data like "Sex" and "Embarked". We need to convert them to numerical values.

In [82]:
train_df["Sex"] = train_df["Sex"].map({"male": 1, "female": 0})
test_df["Sex"] = test_df["Sex"].map({"male": 1, "female": 0})

üîπ 1Ô∏è‚É£ Split Data into Training & Validation Sets

In [83]:
from sklearn.model_selection import train_test_split


X = train_df.drop(columns=["Survived"])
y = train_df["Survived"]


X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2,random_state=42, stratify=y)

üîπ 2Ô∏è‚É£ Train a Basic Model: Logistic Regression
Logistic Regression is a simple but strong baseline for binary classification problems.

In [ ]:
print(X_train.dtypes)
X_train = X_train.apply(pd.to_numeric, errors='coerce')
X_val = X_val.apply(pd.to_numeric, errors='coerce')

Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked    float64
dtype: object
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked    712
dtype: int64

In [98]:
print(y_train.unique())

[1 0]

In [99]:
print(X_train.isnull().sum())

Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked    712
dtype: int64